.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  background-color: #ddd;
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto;
  grid-template-rows: 1fr auto;
  gap: 10px;
}

.grid div {
  background-color: #403f3f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}