* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  width: 50px;
  height: 50px;
  margin: 50px auto;
  border-radius: 50%;
  border: 5px solid;
  border-color: #1e9dff #1e9dff transparent #1e9dff;
  position: relative;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

div:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

div:hover::before,
div:hover::after {
  -webkit-animation-play-state: running;
  animation-play-state: running;

}

div::before {
  content: "";
  width: 55px;
  height: 55px;
  border-radius: 50px;
  position: absolute;
  top: -12.5px;
  left: -12.5px;
  z-index: -1;
  border: 5px solid;
  border-color: #fcaa00 #fcaa00 transparent #fcaa00;
  -webkit-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}


div::after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50px;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -2;
  border: 5px solid;
  border-color: #000 #000 transparent #000;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}