div {
  width: 100px;
  height: 100px;
  background-color: #efefef;
  margin: 20px auto;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 10px #000 inset;
}